
<body ng-controller="gridController">
<legend>autoform</legend>  
<div ng-show="errors.hasErrors()" class="alert alert-danger" style="width: 25%">
    <div ng-repeat="error in errors.errorList">
        {{error.errormessage}}   
    </div>
</div>

<form 
    ng-submit="submit()"
    >
    <div class="ui-widget-content"
         
      
        style="width: 500px;overflow: auto ;resize: horizontal;border: 1px solid #aaaaaa;
        color: #222222;" opt:minWidth="20"  
        id="formElementContainer"
      
   
        >
        <div id="formElementContainer"
          >
            <div 
                 autoform
                 formname="editForm" 
                 disabledvar="formDisabled" 
                 model="model"
                 ng-repeat="field in dataSchema" 
                 content="field"></div>
        </div>
    </div>
    <input type="submit" value="Submit"></input>
</form>              

</body>
