<!DOCTYPE html>
<html ng-app="generica">
    <head lang="en">
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="css/ng-grid.css" />
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">

        <script type="text/javascript" src="libs/jquery.min.js"></script>
        <script type="text/javascript" src="libs/angular.min.js"></script>
        <script type="text/javascript" src="libs/ng-grid.js"></script>        
        <script type="text/javascript" src="libs/angular-route.js"></script>
        <script type="text/javascript" src="libs/angular-resource.js"></script>
        <script src="libs/ui-grid-unstable.js"></script>
        <link rel="stylesheet" href="libs/ui-grid-unstable.css" type="text/css"> 

        <script src="bower_components/highlightjs/highlight.pack.js" type="text/javascript"></script>

        <script src="bower_components/angular-highlightjs/angular-highlightjs.js"></script>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/github.min.css">

        <script type="text/javascript" src="bower_components/angular-tree-control/angular-tree-control.js"></script>
        <link rel="stylesheet" type="text/css" href="bower_components/angular-tree-control/css/tree-control.css">
        <link rel="stylesheet" type="text/css" href="bower_components/angular-tree-control/css/tree-control-attribute.css">



        <script type="text/javascript" src="main.js"></script>
        <script type="text/javascript" src="routing.js"></script>
        <script type="text/javascript" src="tableview.js"></script>

        <script type="text/javascript" src="autoFormController.js"></script>    
        <script type="text/javascript" src="autoFormOverallController.js"></script>    

        <script type="text/javascript" src="loginController.js"></script>    
        <script type="text/javascript" src="logoutController.js"></script>    
        <script type="text/javascript" src="tableActionsController.js"></script>
        <script type="text/javascript" src="formOrderController.js"></script>
        <script type="text/javascript" src="uploadCsvController.js"></script>
        <script type="text/javascript" src="tableFormElementsOrderController.js"></script>
        <script type="text/javascript" src="gridOptionsService.js"></script>
        <script type="text/javascript" src="returnPageService.js"></script>
        <script type="text/javascript" src="menuElementService.js"></script>
        <script type="text/javascript" src="showSqlController.js"></script>


        <script src="bower_components/angular-strap/dist/angular-strap.min.js"></script>
        <script src="bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
        <script src="bower_components/ng-file-upload/angular-file-upload-shim.min.js"></script> 
        <script src="bower_components/ng-file-upload/angular-file-upload.min.js"></script> 


        <script type="text/javascript" src="menuController.js"></script>
        <link rel="stylesheet" type="text/css" href="css/style.css" />

    </head>
    <body>
        <table style="width:100%">
            <tr><td valign="top" width="15%"  ng-controller="menuController" >
                    <div ng-show="showSearch">
                        <input type="text" ng-model="predicate" placeholder="Search..." ng-keyup="checkTypeAhead()">
                        <br/>
                        <a ng-click="expandAll()"><i class="fa fa-toggle-down" style="font-size: 16px"></i></a>
                        <a ng-click="collapseAll()"><i class="fa fa-toggle-up" style="font-size: 16px"></i></a>
                    </div>
            <treecontrol class="tree-classic"
                         tree-model="menuItems" filter-expression="predicate" filter-comparator="comparator"
                         expanded-nodes="expandedNodes"
                         options="treeOptions"
                         on-selection="selectedNode(node)"
                         selected-node="">
                {{node.menulabel}}
            </treecontrol>
        </td><td valign="top">
            <div id="loadingDiv" align="right">
                <img height="18px" src="./images/gears.gif"/>
            </div>

            <div ng-view>

            </div>
        </td>
    </tr></table>
</body>
</html>
