<!DOCTYPE html>
<html ng-app="generica">
    <head lang="en">
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="css/ng-grid.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">

        <script src="libs/jquery.min.js"></script>
        <script src="libs/angular.min.js"></script>
        <script src="libs/ng-grid.js"></script>        
        <script type="text/javascript" src="libs/angular-route.js"></script>
        <script type="text/javascript" src="libs/angular-resource.js"></script>


        <script type="text/javascript" src="main.js"></script>
        <script type="text/javascript" src="routing.js"></script>
        <script type="text/javascript" src="tableview.js"></script>

        <script type="text/javascript" src="autoFormController.js"></script>    
        <script type="text/javascript" src="loginController.js"></script>    
        <script type="text/javascript" src="logoutController.js"></script>    
	<script type="text/javascript" src="tableActionsController.js"></script>
	<script type="text/javascript" src="formOrderController.js"></script>
	<script type="text/javascript" src="tableFormElementsOrderController.js"></script>

        <script src="bower_components/angular-strap/dist/angular-strap.min.js"></script>
        <script src="bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>


    </head>
    <body>
        <a href="#table_with_actions/worktimes">show table</a>
        <a href="#hello">show table</a>
        <div style="margin-left:10px" ng-view>

        </div>
    </body>
</html>
